header { 
    background-color: rgb(165, 151, 151);
}

main {
    height: 400px;
    width: 1265px;
    background-color: rgb(143, 135, 135);
    margin: 0;
    text-decoration-color: azure;
    
}
.projet{
    height: 200px;
    width: 85%;
    background-color: beige;
    border-radius: 2%;

}
.drap{
    height: 200px;
    width: 85%;
    background-color: beige;
    border-radius: 2%;
}

.naru{
    height: 200px;
    width: 85%;
    background-color: beige;
    border-radius: 2%;
}
nav ul{ display: flex;
        gap: 100px;
        list-style-type: none;
        justify-content: center;
      }
nav{
    display: flex;
    background-color: rgb(189, 175, 175);
}
main ul{
    display: flex;
    gap: 5px;
    justify-content: center;
}
h1{
margin:0;

}
main ul{
    list-style-type:none;
}
main h1 { text-transform: none;
          
    }

    
.projet p { display: flex;
            justify-content: flex-end;
}
body{
    margin: 0;
}
nav{
    height: 100px;
    width: 1265px;
    }
nav ul{
    text-transform: inherit;
}
nav h3{
    color: aliceblue;
}
main h1{ color: aliceblue;}
header h1{ 
    color: aliceblue;
}
header p{
    color: black;
    ;
}
footer{
    height: 165px;
width: 1265px;
background-color: rgb(107, 99, 99);
}
footer h1{
    color: aliceblue;
}
footer p{
display: flex;
justify-content: flex-end;
color: aliceblue;
}
header{
    display: flex;
    justify-content: center;
}
header p{
    display: flex;
    align-items: center;
}
main .naru{
margin-right: 40px;
}
